annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chromedriver-binary==137.0.7123.0.0
chromedriver-binary-auto==0.3.1
click==8.1.8
colorama==0.4.6
Django==5.1.4
django-debug-toolbar @ file:///home/conda/feedstock_root/build_artifacts/django-debug-toolbar_1761862301776/work
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1754514405054/work
et_xmlfile==2.0.0
fastjsonschema==2.21.1
flet==0.27.6
flet-desktop==0.27.6
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
langchain-core==0.3.49
langchain-ollama==0.3.0
langsmith==0.3.22
lxml==6.0.0
mecab==0.996.11
nbformat==5.10.4
nltk==3.9.1
Nuitka==2.6.9
numpy==2.2.4
oauthlib==3.2.2
ollama==0.4.7
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.10.16
outcome==1.3.0.post0
pandas==2.2.3
pillow==11.3.0
platformdirs==4.3.8
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv @ file:///C:/b/abs_71cpoh9hpg/croot/python-dotenv_1745613639902/work
pytz==2025.2
pywin32==311
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
repath==0.9.0
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.26.0
selenium==4.30.0
setuptools==78.1.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.1
tenacity==9.0.0
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2024.1
urllib3==2.3.0
waitress @ file:///C:/Users/dev-admin/buildout/croot/waitress_1735864045188/work
websocket-client==1.8.0
wheel==0.45.1
wsproto==1.2.0
zstandard==0.23.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
whitenoise==6.7.0
