{% extends 'main/base.html' %}
{% block content %}

{% if query %} 
<h2>「{{ query }}」の検索結果</h2> 
{% endif %}
{% for post in posts %}
  <div class="card mb-3">
    <div class="card-header">
      {{ post.title }}
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.content|linebreaksbr }}</p>
    </div>
    <div class="card-footer text-muted">
      投稿者: {{ post.author.username }} ({{ post.created_at }})
    </div>
    <div class="card-footer">
        <a href="{% url 'post_detail' post.pk %}">続きを読む</a>
    </div>
  </div>
{% endfor %}
{% if not posts %} 
<p>該当する投稿はありませんでした。</p> 
{% endif %}
{% endblock content %}